<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aihuman.mapper.AiHumanTaskMapper">
    
    <resultMap type="AiHumanTask" id="AiHumanTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="materialId"    column="material_id"    />
        <result property="parentTaskId"    column="parent_task_id"    />
        <result property="status"    column="status"    />
        <result property="priority"    column="priority"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="processStartTime"    column="process_start_time"    />
        <result property="processEndTime"    column="process_end_time"    />
        <result property="result"    column="result"    />
        <result property="errorMessage"    column="error_message"    />
        <result property="userId"    column="user_id"    />
        <result property="clientId"    column="client_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAiHumanTaskVo">
        select task_id, task_name, material_id, parent_task_id, status, priority, submit_time, process_start_time, process_end_time, result, error_message, user_id, client_id, create_by, create_time, update_by, update_time, remark from ai_human_task
    </sql>

    <select id="selectAiHumanTaskList" parameterType="AiHumanTask" resultMap="AiHumanTaskResult">
        <include refid="selectAiHumanTaskVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="materialId != null  and materialId != ''"> and material_id = #{materialId}</if>
            <if test="parentTaskId != null  and parentTaskId != ''"> and parent_task_id = #{parentTaskId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="processStartTime != null "> and process_start_time = #{processStartTime}</if>
            <if test="processEndTime != null "> and process_end_time = #{processEndTime}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="errorMessage != null  and errorMessage != ''"> and error_message = #{errorMessage}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="clientId != null  and clientId != ''"> and client_id = #{clientId}</if>
        </where>
    </select>
    
    <select id="selectAiHumanTaskByTaskId" parameterType="Long" resultMap="AiHumanTaskResult">
        <include refid="selectAiHumanTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertAiHumanTask" parameterType="AiHumanTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into ai_human_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="materialId != null and materialId != ''">material_id,</if>
            <if test="parentTaskId != null and parentTaskId != ''">parent_task_id,</if>
            <if test="status != null">status,</if>
            <if test="priority != null">priority,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="processStartTime != null">process_start_time,</if>
            <if test="processEndTime != null">process_end_time,</if>
            <if test="result != null">result,</if>
            <if test="errorMessage != null">error_message,</if>
            <if test="userId != null">user_id,</if>
            <if test="imageId != null">image_id,</if>
            <if test="clientId != null">client_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="materialId != null and materialId != ''">#{materialId},</if>
            <if test="parentTaskId != null and parentTaskId != ''">#{parentTaskId},</if>
            <if test="status != null">#{status},</if>
            <if test="priority != null">#{priority},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="processStartTime != null">#{processStartTime},</if>
            <if test="processEndTime != null">#{processEndTime},</if>
            <if test="result != null">#{result},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
            <if test="userId != null">#{userId},</if>
            <if test="imageId != null">#{imageId},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAiHumanTask" parameterType="AiHumanTask">
        update ai_human_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="materialId != null and materialId != ''">material_id = #{materialId},</if>
            <if test="parentTaskId != null and parentTaskId != ''">parent_task_id = #{parentTaskId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="processStartTime != null">process_start_time = #{processStartTime},</if>
            <if test="processEndTime != null">process_end_time = #{processEndTime},</if>
            <if test="result != null">result = #{result},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteAiHumanTaskByTaskId" parameterType="Long">
        delete from ai_human_task where task_id = #{taskId}
    </delete>

    <delete id="deleteAiHumanTaskByTaskIds" parameterType="String">
        delete from ai_human_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

    <select id="countTasksByParentTaskIdAndStatus" resultType="java.util.Map">
        SELECT
        SUM(CASE WHEN status = '0' THEN 1 ELSE 0 END) AS pending_count,
        SUM(CASE WHEN status = '1' THEN 1 ELSE 0 END) AS processing_count,
        SUM(CASE WHEN status = '2' THEN 1 ELSE 0 END) AS completed_count,
        SUM(CASE WHEN status = '3' THEN 1 ELSE 0 END) AS failed_count,
        COUNT(*) AS total_count
        FROM ai_human_task
        WHERE parent_task_id = #{parentTaskId}
    </select>

    <select id="getMP4FilesByParentTaskId" resultType="java.lang.String">
        SELECT task_name
        FROM ai_human_task
        WHERE parent_task_id = #{parentTaskId}
    </select>

</mapper>